.post-area {
    height: 400px;
}

.image {
    width: 100%;
    height: 100%;
}

.image-info {
    background-color: #d3d3d3;
    height: 100%;
    padding: 30px;
}

.caption-text {
    font-size: 200%;
}

.postedby-text {
    font-size: 150%;
    margin-top: 30px;
    font-weight: 100;
}