{% load static %}
<html>
    <head>
        <title>PixAndME</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
    </head>

    <body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">PicStories</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row post-area">
        <div class="col-md-4">
            <div class="image-area">
                <img class="image" src="{{ post.imgURL }}">
            </div>
        </div>
        <div class="col-md-8">
            <div class="image-info">
                <div class="caption-text">
                    {{ post.caption }}
                </div>
                <div class="postedby-text">
                    Posted by {{ post.postedBy }}
                </div>
                <br><br>
                <div>
                  
             {% comment %} <form action= {% url 'deletePost' %} method="POST">{% csrf_token %}
                <button type="button" class="btn btn-danger">Delete</button>   {% endcomment %}

            <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
            <br>
            {% comment %} <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit</a>    </div> {% endcomment %}

            </div>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    </body>
</html>