
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pix-n-I</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">PicStories</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<header>
    <h1 id="page-title">Pix-n-I</h1>
    <p>
        Add your pictures with their stories to this PixLib :)
    </p>

    <h3>Why PixLib is just your thing: </h3>
</header>
    <div class="container">
        <div class= "row">
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">You Enjoy Pix</div>
                    <div class="panel-body">
                       For you, the thrill of taking pix is only matched by keeping them!
                    </div>
                
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Your want to share</div>
                    <div class="panel-body">
                        Every friend of yours just needs to see all these pix you took!
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">You need them, like now.</div>
                    <div class="panel-body">
                        These collections are always there for you whenever you want them!
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="container">
    <div class="row">
       <form action= {% url 'createPost' %} method="POST">
                    {% csrf_token %} 
        <div class="form-group">
          <label>Image URL</label>
          <input name="imgURL" type="text" class="form-control" placeholder="Your image url!">
        </div>
        <div class="form-group">
          <label>Name</label>
          <input name="name" type="text" class="form-control" placeholder="Add your name!">
        </div>
        <div class="form-group">
          <label>Caption</label>
          <input name="caption" type="text" class="form-control" placeholder="What does this picture say?">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
</div>
   <div class="container">
    <div class="row">
        {% for post in posts%}
            <div class="col-md-4">
                <a href="/{{ post.id }}">
                <div class="image-post">
                    <div class="image-area">
                        <img class="image" src="{{ post.imgURL }}">
                        </div>
                    <div class="caption-text">
                        {{ post.caption }}
                    </div>
                    <div class="postedby-text">
                        Posted by {{ post.postedBy }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
    </body>
</body>

</html>